{% extends 'base.html' %}

{% block title %}
Update
{% endblock title %}


{% block content %}
    <strong>{{ message }}</strong>
    <form action='{% url "article_update" record.id %}' method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_ul}}
        <input type="hidden" name='ar_id' value='{{record.id}}'>
        <input type="text" name='ar_name' value = '{{record.name}}'></input><br><br>
        <input type="file" name='ar_image'/> <br><br>
        <textarea name='ar_body'>{{record.body}}</textarea><br><br>
        <input type="submit" value="Submit"><br>
    </form>
{% endblock content %}